# Modified CI script adapted from GH Default

name: r-lib

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        include:
          - {os: macOS-latest}
          - {os: ubuntu-latest}

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Set up 
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install Packages
        run: Rscript -e 'install.packages(c("remotes", "rcmdcheck"))'

      - name: Install Dependencies
        run: Rscript -e 'remotes::install_deps(dependencies = TRUE)'
        
      - name: Check
        run: Rscript -e 'rcmdcheck::rcmdcheck(args = "--no-manual", error_on = "error")'
